/* Variables */
*::before,
*::after {
  box-sizing: border-box;
}

/* Global */
body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1440px;
  padding: 50px 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #f1c40f;
}

.btn {
  border: 2px solid;
  border-radius: 30px;
  padding: 10px 40px;
}

.btn-two {
  background-color: #27ae60;
  border-color: #27ae60;
}

h2 {
  font-size: 70px;
  font-weight: 100;
  color: #7f8c8d;
}

.wrapper {
  display: flex;
}

h5 {
  font-size: 30px;
}

p {
  font-size: 20px;
  color: #7f8c8d;
}

.title {
  text-align: center;
  position: relative;
  padding-bottom: 150px;
}

.pseudo::after {
  position: absolute;
  content: "";
  top: 30%;
  left: 47%;
  transform: translateX(50%);
  background-color: #27ae60;
  width: 40px;
  height: 1px;
}

/* Splash*/
.splash {
  background-image: url("https://images.pexels.com/photos/932638/pexels-photo-932638.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.splash-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.splash-inner h2 {
  margin-bottom: 0;
}

.splash-inner p {
  font-size: 20px;
  margin-bottom: 50px;
}

.splash-inner span {
  font-weight: 700;
}

/* Nav */
.logo {
  font-size: 40px;
}

.logo span {
  color: #f1c40f;
  font-size: 60px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  margin: 0;
  list-style: none;
}

.nav-list li {
  display: inline-block;
  position: relative;
  margin-left: 50px;
}

.nav-list li li {
  display: block;
  width: 100px;
  margin: 0;
  text-align: center;
  padding: 5px 0;
}

.nav-list li li a {
  color: #000;
}

.nav-list li li a:hover {
  color: #2980b9;
}

.nav-list li ul {
  display: none;
}

.nav-list li:hover ul {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding-left: 0;
}

/* About */
.about {
  height: 100vh;
}

.card {
  text-align: center;
  padding: 0 10px;
}

.card a {
  display: inline-block;
  border-radius: 50%;
  background-color: #ecf0f1;
  height: 200px;
  width: 200px;
  color: #7f8c8d;
  font-size: 70px;
  position: relative;
}

.card a:hover {
  background: #27ae60;
}

.card a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card a i:hover {
  color: #fff;
}

.about .button {
  margin-top: 80px;
  text-align: center;
}

/* Tools */
.tools .container {
  max-width: max-content;
  padding: 0;
}

.tools p {
  margin: 80px 0;
}

.tools .wrapper {
  flex-direction: column;
}

[class^="tools-"] {
  position: relative;
}

.tools-image {
  position: absolute;
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.tools-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tools-text {
  padding: 10px 0 100px 60%;
}

.tools-element {
  padding: 0 100px 0 0;
  background: #ecf0f1;
}

.tools-element-right {
  padding: 50px 100px;
}

.tools-element-right .tools-image {
  right: 0;
}

.tools-element-right .tools-text {
  padding: 10px 60% 100px 0;
}

/* Owner */
.owner {
  background-image: url("https://images.pexels.com/photos/748626/pexels-photo-748626.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60vh;
  position: relative;
  text-align: center;
}

.owner-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.owner-inner span {
  color: #27ae60;
}

.owner-title {
  color: #fff;
}

.owner-title p {
  font-weight: 700;
  color: #fff;
}

.owner-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Services */
.services {
  background: #ecf0f1;
}

.services .wrapper {
  flex-wrap: wrap;
}

.services-card {
  width: 50%;
  display: flex;
}

.services-card .services-icon {
  font-size: 60px;
  color: #27ae60;
}

.services-card .services-text {
  padding: 0 50px 50px 50px;
}

.services-card .services-text h2 {
  margin: 0;
}

/* Team */
.team .wrapper {
  flex-wrap: wrap;
}

.team .team-image {
  width: 20%;
  position: relative;
}

.team .team-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  height: 100%;
  width: 100%;
  background-color: #27ae60;
  opacity: 0;
}

.image-overlay h5 {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.image-overlay:hover {
  opacity: 0.5;
}
